.home-header {
  padding: 1em;
  display: flex;
  /* background-image: url("/img/jp-flowers.jpg"); */
  background-size: 100%;
}

.home-greeting {
  font-size: 7em;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-greeting span {
  display: flow-root;
}

.home-portrait {
  height: 30em;
}

.home-content {
  font-size: 1.2em;
  /* margin: 1.5em 3em 0em 3em; */
}
