.main-nav {
  width: 100%;
  display: grid;
  justify-items: stretch;
  grid-template-columns: 2fr 1fr;
}

.nav-left-items,
.nav-right-items {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.nav-right-items {
  flex-direction: row-reverse;
}

.nav-right-items .buffer {
  width: 3em;
}

.social-media-icon,
.main-nav-item {
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-color: black;
  border-bottom-width: .1em;
}

.social-media-icon:hover,
.main-nav-item:not(.buffer):hover {
  background-color: #0001;
}

.main-nav-item {
  padding: 1em;
  text-decoration: none;
}

.main-nav-item span {
  font-size: 2em;
  letter-spacing: .1em;
  color: black;
}

.main-nav-item.active {
  border-color: gold;
}

.main-nav-item.active span {
  color: gold;
}

.social-media-icon img {
  padding: .7em;
  height: 3em;
  filter: invert(100%);
}

.flex-fill {
  flex-grow: 1;
}
