.project-card-list {
  display: grid;
  grid-gap: 1rem;
}

@include media-breakpoint-up(md) {
  .project-card-list {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  @extend .col-md;
  @extend .m-2;
  // flex: 1 0 40%;
  padding: 1rem 1rem 0.3rem 1rem;
  background-color: $secondary;
  color: $body-color;
}

.card:hover {
  background-color: $primary;
  color: $body-color;
  text-decoration: none;
}

.card-image-viewport {
  width: 100%;
  height: 25rem;
  padding-bottom: 1rem;
}

.card-image-viewport > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-title {
  @extend .text-center;
  font-size: 1.5rem;
}
