$font-size-base: 1.2rem;
$font-family-base: "Avenir Book";

$primary: #c3073f;
$secondary: #950740;
$tertiary: #6f2232;
$quaternary: #4e4e50;

$body-bg: #1a1a1d;
$body-color: white;

$navbar-dark-active-color: $primary;

@import 'bootstrap-4.5.2/bootstrap';
@import 'navbar';
@import 'index';

@font-face {
  font-family: "Avenir Book";
  src:
    url("/fonts/avenir-book.woff") format("woff"),
    url("/fonts/avenir-book.woff2") format("woff2");
}
