@import 'navbar';
@import 'home';

@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/avenir-book.woff") format("woff"),
       url("/fonts/avenir-book.woff2") format("woff2");
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Avenir Book";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
}

main {
  margin: 0px;
  padding: 0px;
  width: 80%;
}

