$font-size-base: 1.2rem;
$font-family-base: "Avenir Book";

$primary: #C3073F;
$secondary: #950740;
$tertiary: #6F2232;
$quaternary: #4E4E50;

$body-bg: #1A1A1D;
$body-color: white;

$navbar-dark-active-color: $primary;

@import 'bootstrap-4.5.2/scss/bootstrap';
@import 'navbar';
@import 'index';

@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/avenir-book.woff") format("woff"),
       url("/fonts/avenir-book.woff2") format("woff2");
}
