@import 'navbar.css';
@import 'home.css';

@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/avenir-book.woff") format("woff"),
       url("/fonts/avenir-book.woff2") format("woff2");
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Avenir Book"
}

main {
  margin: 10px 100px 0px 100px;
  padding: 0px;
}

