<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- {{- $style := resources.Get "sass/main.scss" | toCSS | postCSS (dict "use" "autoprefixer") | minify -}} -->
    {{- $style := resources.Get "sass/main.scss" | toCSS | minify -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <title>
      {{ block "title" . }} {{ .Site.Title }} {{ end }}
    </title>
  </head>
  <body>
    {{ partial "navbar" . }}
    <main class="container">
    <div class="col">
      {{ block "main" . }}
      {{ end }}
    </div>
    </main>
    {{ block "footer" . }}
      <br>
    {{ end }}
    {{ partial "scripts" }}
  </body>
</html>
